[Desktop Entry]
Categories=System;Security;
Comment[de]=Simple clamav script using Zenity
Comment=Simple clamav script using Zenity
Exec=clamavscript
Icon=/usr/share/icons/clamavscript60x60.png
Name[de]=ClamAVScript
Name=ClamAVScript
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=clamavscript
Type=Application
Version=0.1b4
X-DBUS-ServiceName=
X-DBUS-StartupType=none
