[Desktop Entry]
Categories=System
Comment[de]=Simple clamav script using Zenity
Comment=Simple clamav script using Zenity
Exec=clamavscript
GenericName[de]=
GenericName=
Icon=clamavscript60x60.png
MimeType=
Name[de]=ClamAVScript
Name=ClamAVScript
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=clamavscript
Type=Application
Version=0.1a
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
